In [34]:
import pandas as pd
leaguetable = pd.read_csv("league_table.csv")

In [35]:
leaguetable

,Unnamed: 0,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,Pts/MP,xG,xGA,xGD,xGD/90,Attendance,Top Team Scorer,Goalkeeper,Notes
0,0,1,Manchester City,38,29,6,3,99,26,73,93,2.45,89.0,27.2,61.9,1.63,52774,Kevin De Bruyne - 15,Ederson,→ UEFA Champions League via league finish
1,1,2,Liverpool,38,28,8,2,94,26,68,92,2.42,89.2,34.2,55.0,1.45,53352,Mohamed Salah - 23,Alisson,→ UEFA Champions League via league finish
2,2,3,Chelsea,38,21,11,6,76,33,43,74,1.95,67.2,36.0,31.3,0.82,36443,Mason Mount - 11,Edouard Mendy,→ UEFA Champions League via league finish
3,3,4,Tottenham,38,22,5,11,69,40,29,71,1.87,65.1,39.4,25.8,0.68,56523,Son Heung-min - 23,Hugo Lloris,→ UEFA Champions League via league finish
4,4,5,Arsenal,38,22,3,13,61,48,13,69,1.82,59.9,47.1,12.8,0.34,59665,Bukayo Saka - 11,Aaron Ramsdale,→ UEFA Europa League via league finish
5,5,6,Manchester Utd,38,16,10,12,57,57,0,58,1.53,54.8,54.5,0.3,0.01,73150,Cristiano Ronaldo - 18,David de Gea,→ UEFA Europa League via league finish
6,6,7,West Ham,38,16,8,14,60,51,9,56,1.47,49.9,51.0,-1.1,-0.03,58370,Jarrod Bowen - 12,Łukasz Fabiański,→ UEFA Europa Conference League via league finish
7,7,8,Leicester City,38,14,10,14,62,59,3,52,1.37,50.8,61.0,-10.1,-0.27,32493,Jamie Vardy - 15,Kasper Schmeichel,NaN
8,8,9,Brighton,38,12,15,11,42,44,-2,51,1.34,46.0,45.6,0.4,0.01,30966,"Leandro Trossard, Neal Maupay - 8",Robert Sánchez,NaN
9,9,10,Wolves,38,15,6,17,38,43,-5,51,1.34,35.9,60.3,-24.4,-0.64,30841,Raúl Jiménez - 6,José Sá,NaN
10,10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,1.29,40.3,55.4,-15.2,-0.40,51487,Callum Wilson - 8,Martin Dúbravka,NaN
11,11,12,Crystal Palace,38,11,15,12,50,46,4,48,1.26,46.4,41.0,5.4,0.14,24588,Wilfried Zaha - 14,Vicente Guaita,NaN
12,12,13,Brentford,38,13,7,18,48,56,-8,46,1.21,47.8,49.1,-1.3,-0.03,16918,Ivan Toney - 12,David Raya,NaN
13,13,14,Aston Villa,38,13,6,19,52,54,-2,45,1.18,44.0,49.1,-5.1,-0.13,41681,Ollie Watkins - 11,Emiliano Martínez,NaN
14,14,15,Southampton,38,9,13,16,43,67,-24,40,1.05,46.8,58.6,-11.9,-0.31,30134,James Ward-Prowse - 10,Fraser Forster,NaN
15,15,16,Everton,38,11,6,21,43,66,-23,39,1.03,42.8,54.5,-11.7,-0.31,38446,Richarlison - 10,Jordan Pickford,NaN
16,16,17,Leeds United,38,9,11,18,42,79,-37,38,1.00,47.2,70.1,-23.0,-0.60,36308,Raphael Dias Belloli - 11,Illan Meslier,NaN
17,17,18,Burnley,38,7,14,17,34,53,-19,35,0.92,39.0,56.7,-17.7,-0.47,19278,Maxwel Cornet - 9,Nick Pope,Relegated
18,18,19,Watford,38,6,5,27,34,77,-43,23,0.61,38.8,66.6,-27.8,-0.73,20614,Emmanuel Dennis - 10,Ben Foster,Relegated
19,19,20,Norwich City,38,5,7,26,23,84,-61,22,0.58,33.3,77.0,-43.6,-1.15,26836,Teemu Pukki - 11,Tim Krul,Relegated

In [36]:
leaguetable = leaguetable[["Rk", "Squad", "MP", "W", "D", "L", "GF", "GA", "GD", "Pts"]]

In [37]:
mt = pd.read_csv("match_table.csv")

In [38]:
mt = mt[["Home", "xG", "Score", "xG.1", "Away", "Venue"]]

In [39]:
ah = pd.read_csv("away_hometable.csv")

In [40]:
del ah["Unnamed: 0"]

In [41]:
ah = ah.drop(labels="Home.8", axis = 1)

In [42]:
ah = ah.drop(labels="Away.8", axis=1)

In [43]:
ah = ah.drop(labels=["Home.9", "Home.10", "Home.11", "Home.12", "Away.9", "Away.10", "Away.11", "Away.12"], axis=1)

In [44]:
mt = mt.loc[mt["Score"].notnull()]

In [45]:
del mt["Venue"]

In [46]:
mt.to_csv("mtupdated.csv")

In [47]:
ah.to_csv("away_homeupdated.csv")

In [48]:
leaguetable.to_csv("league_updated.csv")

In [49]:
scores = pd.read_csv("scores.csv")

In [50]:
scores

,Scores,Manchester City,Liverpool,Chelsea,Tottenham,Arsenal,West Ham,Manchester Utd,Wolves,Crystal Palace,...,Aston Villa,Southampton,Brighton,Brentford,Newcastle Utd,Leeds United,Everton,Watford,Burnley,Norwich City
0,Manchester City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liverpool,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Chelsea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Tottenham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,West Ham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Manchester Utd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Wolves,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Crystal Palace,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Leicester City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Aston Villa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Southampton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Brighton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Brentford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Newcastle Utd,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Leeds United,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Everton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Watford,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Burnley,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Norwich City,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
mt

                Home   xG Score  xG.1            Away
0          Brentford  1.3   2–0   1.4         Arsenal
1     Manchester Utd  1.5   5–1   0.6    Leeds United
2     Leicester City  0.8   1–0   1.1          Wolves
3            Burnley  1.0   1–2   1.3        Brighton
4            Chelsea  0.9   3–0   0.3  Crystal Palace
..               ...  ...   ...   ...             ...
443     Norwich City  0.3   0–5   3.7       Tottenham
444  Manchester City  2.9   3–2   0.3     Aston Villa
445        Liverpool  3.2   3–1   1.1          Wolves
446          Burnley  1.4   1–2   1.8   Newcastle Utd
447          Chelsea  2.4   2–1   1.0         Watford

[380 rows x 5 columns]

In [52]:
for i, j in mt.iterrows():
    for a, b in scores.iterrows():
        if (b["Scores"] == j["Home"]):
            scores.at[a, j["Away"]] = j["Score"]

In [53]:
scores

,Scores,Manchester City,Liverpool,Chelsea,Tottenham,Arsenal,West Ham,Manchester Utd,Wolves,Crystal Palace,...,Aston Villa,Southampton,Brighton,Brentford,Newcastle Utd,Leeds United,Everton,Watford,Burnley,Norwich City
0,Manchester City,NaN,2–2,1–0,2–3,5–0,2–1,4–1,1–0,0–2,...,3–2,0–0,3–0,2–0,5–0,7–0,3–0,5–1,2–0,5–0
1,Liverpool,2–2,NaN,1–1,1–1,4–0,1–0,4–0,3–1,3–0,...,1–0,4–0,2–2,3–0,3–1,6–0,2–0,2–0,2–0,3–1
2,Chelsea,0–1,2–2,NaN,2–0,2–4,1–0,1–1,2–2,3–0,...,3–0,3–1,1–1,1–4,1–0,3–2,1–1,2–1,1–1,7–0
3,Tottenham,1–0,2–2,0–3,NaN,3–0,3–1,0–3,0–2,3–0,...,2–1,2–3,0–1,2–0,5–1,2–1,5–0,1–0,1–0,3–0
4,Arsenal,1–2,0–2,0–2,3–1,NaN,2–0,3–1,2–1,2–2,...,3–1,3–0,1–2,2–1,2–0,2–1,5–1,1–0,0–0,1–0
5,West Ham,2–2,3–2,3–2,1–0,1–2,NaN,1–2,1–0,2–2,...,2–1,2–3,1–1,1–2,1–1,2–3,2–1,1–0,1–1,2–0
6,Manchester Utd,0–2,0–5,1–1,3–2,3–2,1–0,NaN,0–1,1–0,...,0–1,1–1,2–0,3–0,4–1,5–1,1–1,0–0,3–1,3–2
7,Wolves,1–5,0–1,0–0,0–1,0–1,1–0,0–1,NaN,0–2,...,2–1,3–1,0–3,0–2,2–1,2–3,2–1,4–0,0–0,1–1
8,Crystal Palace,0–0,1–3,0–1,3–0,3–0,2–3,1–0,2–0,NaN,...,1–2,2–2,1–1,0–0,1–1,0–0,3–1,1–0,1–1,3–0
9,Leicester City,0–1,1–0,0–3,2–3,0–2,2–2,4–2,1–0,2–1,...,0–0,4–1,1–1,2–1,4–0,1–0,1–2,4–2,2–2,3–0
10,Aston Villa,1–2,1–2,1–3,0–4,0–1,1–4,2–2,2–3,1–1,...,NaN,4–0,2–0,1–1,2–0,3–3,3–0,0–1,1–1,2–0
11,Southampton,1–1,1–2,0–6,1–1,1–0,0–0,1–1,0–1,1–2,...,1–0,NaN,1–1,4–1,1–2,1–0,2–0,1–2,2–2,2–0
12,Brighton,1–4,0–2,1–1,0–2,0–0,3–1,4–0,0–1,1–1,...,0–2,2–2,NaN,2–0,1–1,0–0,0–2,2–0,0–3,0–0
13,Brentford,0–1,3–3,0–1,0–0,2–0,2–0,1–3,1–2,0–0,...,2–1,3–0,0–1,NaN,0–2,1–2,1–0,2–1,2–0,1–2
14,Newcastle Utd,0–4,0–1,0–3,2–3,2–0,2–4,1–1,1–0,1–0,...,1–0,2–2,2–1,3–3,NaN,1–1,3–1,1–1,1–0,1–1
15,Leeds United,0–4,0–3,0–3,0–4,1–4,1–2,2–4,1–1,1–0,...,0–3,1–1,1–1,2–2,0–1,NaN,2–2,1–0,3–1,2–1
16,Everton,0–1,1–4,1–0,0–0,2–1,0–1,1–0,0–1,3–2,...,0–1,3–1,2–3,2–3,1–0,3–0,NaN,2–5,3–1,2–0
17,Watford,1–3,0–5,1–2,0–1,2–3,1–4,4–1,0–2,1–4,...,3–2,0–1,0–2,1–2,1–1,0–3,0–0,NaN,1–2,0–3
18,Burnley,0–2,0–1,0–4,1–0,0–1,0–0,1–1,1–0,3–3,...,1–3,2–0,1–2,3–1,1–2,1–1,3–2,0–0,NaN,0–0
19,Norwich City,0–4,0–3,1–3,0–5,0–5,0–4,0–1,0–0,1–1,...,0–2,2–1,0–0,1–3,0–3,1–2,2–1,1–3,2–0,NaN

In [54]:
scores = scores.fillna(0)

In [55]:
combined = leaguetable

In [56]:
scores = scores.rename(columns={"Scores":"Squad"})

In [57]:
ah = ah.rename(columns={"Unnamed: 0_level_0":"Rk", "Unnamed: 1_level_0":"Squad", "Home":"HomeMP"})

In [58]:
ah = ah.rename(columns={"Home.1":"HomeW", "Home.2":"HomeD", "Home.3":"HomeL", "Home.4":"HomeGF", "Home.5":"HomeGA", "Home.6":"HomeGD", "Home.7":"HomePts"})

In [59]:
ah  = ah.rename(columns={"Away.1":"AwayW", "Away.2":"AwayD", "Away.3":"AwayL", "Away.4":"AwayGF", "Away.5":"AwayGA", "Away.6":"AwayGD", "Away.7":"AwayPts"})

In [60]:
del ah["Rk"]

In [61]:
ah.drop(index=ah.index[0], axis=0, inplace=True)

In [62]:
combined = combined.merge(ah, how="outer", on=["Squad"])

In [63]:
combined

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,HomeGD,HomePts,Away,AwayW,AwayD,AwayL,AwayGF,AwayGA,AwayGD,AwayPts
0,1,Manchester City,38,29,6,3,99,26,73,93,...,43,47,19,14,4,1,41,11,30,46
1,2,Liverpool,38,28,8,2,94,26,68,92,...,40,49,19,13,4,2,45,17,28,43
2,3,Chelsea,38,21,11,6,76,33,43,74,...,15,34,19,12,4,3,39,11,28,40
3,4,Tottenham,38,22,5,11,69,40,29,71,...,19,40,19,9,4,6,31,21,10,31
4,5,Arsenal,38,22,3,13,61,48,13,69,...,18,41,19,9,1,9,26,31,-5,28
5,6,Manchester Utd,38,16,10,12,57,57,0,58,...,10,35,19,6,5,8,25,35,-10,23
6,7,West Ham,38,16,8,14,60,51,9,56,...,7,32,19,7,3,9,27,25,2,24
7,8,Leicester City,38,14,10,14,62,59,3,52,...,11,34,19,4,6,9,28,36,-8,18
8,9,Brighton,38,12,15,11,42,44,-2,51,...,-4,22,19,7,8,4,23,21,2,29
9,10,Wolves,38,15,6,17,38,43,-5,51,...,-5,24,19,8,3,8,18,18,0,27
10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,...,-1,30,19,5,4,10,18,35,-17,19
11,12,Crystal Palace,38,11,15,12,50,46,4,48,...,10,29,19,4,7,8,23,29,-6,19
12,13,Brentford,38,13,7,18,48,56,-8,46,...,1,24,19,6,4,9,26,35,-9,22
13,14,Aston Villa,38,13,6,19,52,54,-2,45,...,0,23,19,7,1,11,23,25,-2,22
14,15,Southampton,38,9,13,16,43,67,-24,40,...,-1,25,19,3,6,10,20,43,-23,15
15,16,Everton,38,11,6,21,43,66,-23,39,...,2,29,19,2,4,13,16,41,-25,10
16,17,Leeds United,38,9,11,18,42,79,-37,38,...,-19,18,19,5,5,9,23,41,-18,20
17,18,Burnley,38,7,14,17,34,53,-19,35,...,-7,21,19,2,8,9,16,28,-12,14
18,19,Watford,38,6,5,27,34,77,-43,23,...,-29,8,19,4,3,12,17,31,-14,15
19,20,Norwich City,38,5,7,26,23,84,-61,22,...,-31,12,19,2,4,13,11,41,-30,10

In [64]:
combined = combined.merge(scores, how="outer", on=["Squad"])

In [69]:
combined.at[17, "Squad"] = "Nott'ham Forest"
combined.at[18, "Squad"] = "Fulham"
combined.at[19, "Squad"] = "Bournemouth"
combined = combined.rename(columns = {"Burnley":"Nott'ham Forest", "Watford":"Fulham", "Norwich City":"Bournemouth"})

In [70]:
combined

,Rk,Squad,MP,W,D,L,GF,GA,GD,Pts,...,Aston Villa,Southampton,Brighton,Brentford,Newcastle Utd,Leeds United,Everton,Fulham,Nott'ham Forest,Bournemouth
0,1,Manchester City,38,29,6,3,99,26,73,93,...,3–2,0–0,3–0,2–0,5–0,7–0,3–0,5–1,2–0,5–0
1,2,Liverpool,38,28,8,2,94,26,68,92,...,1–0,4–0,2–2,3–0,3–1,6–0,2–0,2–0,2–0,3–1
2,3,Chelsea,38,21,11,6,76,33,43,74,...,3–0,3–1,1–1,1–4,1–0,3–2,1–1,2–1,1–1,7–0
3,4,Tottenham,38,22,5,11,69,40,29,71,...,2–1,2–3,0–1,2–0,5–1,2–1,5–0,1–0,1–0,3–0
4,5,Arsenal,38,22,3,13,61,48,13,69,...,3–1,3–0,1–2,2–1,2–0,2–1,5–1,1–0,0–0,1–0
5,6,Manchester Utd,38,16,10,12,57,57,0,58,...,0–1,1–1,2–0,3–0,4–1,5–1,1–1,0–0,3–1,3–2
6,7,West Ham,38,16,8,14,60,51,9,56,...,2–1,2–3,1–1,1–2,1–1,2–3,2–1,1–0,1–1,2–0
7,8,Leicester City,38,14,10,14,62,59,3,52,...,0–0,4–1,1–1,2–1,4–0,1–0,1–2,4–2,2–2,3–0
8,9,Brighton,38,12,15,11,42,44,-2,51,...,0–2,2–2,0,2–0,1–1,0–0,0–2,2–0,0–3,0–0
9,10,Wolves,38,15,6,17,38,43,-5,51,...,2–1,3–1,0–3,0–2,2–1,2–3,2–1,4–0,0–0,1–1
10,11,Newcastle Utd,38,13,10,15,44,62,-18,49,...,1–0,2–2,2–1,3–3,0,1–1,3–1,1–1,1–0,1–1
11,12,Crystal Palace,38,11,15,12,50,46,4,48,...,1–2,2–2,1–1,0–0,1–1,0–0,3–1,1–0,1–1,3–0
12,13,Brentford,38,13,7,18,48,56,-8,46,...,2–1,3–0,0–1,0,0–2,1–2,1–0,2–1,2–0,1–2
13,14,Aston Villa,38,13,6,19,52,54,-2,45,...,0,4–0,2–0,1–1,2–0,3–3,3–0,0–1,1–1,2–0
14,15,Southampton,38,9,13,16,43,67,-24,40,...,1–0,0,1–1,4–1,1–2,1–0,2–0,1–2,2–2,2–0
15,16,Everton,38,11,6,21,43,66,-23,39,...,0–1,3–1,2–3,2–3,1–0,3–0,0,2–5,3–1,2–0
16,17,Leeds United,38,9,11,18,42,79,-37,38,...,0–3,1–1,1–1,2–2,0–1,0,2–2,1–0,3–1,2–1
17,18,Nott'ham Forest,38,7,14,17,34,53,-19,35,...,1–3,2–0,1–2,3–1,1–2,1–1,3–2,0–0,0,0–0
18,19,Fulham,38,6,5,27,34,77,-43,23,...,3–2,0–1,0–2,1–2,1–1,0–3,0–0,0,1–2,0–3
19,20,Bournemouth,38,5,7,26,23,84,-61,22,...,0–2,2–1,0–0,1–3,0–3,1–2,2–1,1–3,2–0,0

In [71]:
combined.to_csv("combined.csv")